<div>
    <div>
        <div>
            <select id="shape" name="shape" [(ngModel)]="shape">
                <option value="">Select Shape</option>
                <option value="rectangle">Rectangle</option>
                <option value="square">Square</option>
            </select>
            <select id="colors" name="color" [(ngModel)]="color">
                <option value="">Select Color</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
        </div>
        <div>
            <button (click)="selectshapeandColor()">draw</button>
        </div>

        <div class="shape {{shapeClass}}"> 
           
        </div>
    </div>
</div>
