.parent{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.parentbutton{
    font-weight: bold;
    height: 35px;
    width: auto;
    border-radius: 8px;
    background-color: #106094;
    color: #fbfbfb;
    font-family: sans-serif;
    cursor: pointer;
}

.output{
    height: 60px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: #098a9a;
}