.parent{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.parentbutton{
    font-weight: bold;
    height: 35px;
    width: auto;
    border-radius: 8px;
    background-color: #106094;
    color: #fbfbfb;
    font-family: sans-serif;
    cursor: pointer;
}